.component{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.card{
    width: 800px;
    height: auto;
    border-radius: 12px;
    background-color: black;
}