.componentTela {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(73, 73, 73);

}

.cardForm {
  margin-top: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 700px;
  border-radius: 12px;
  font-family: "Roboto";
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 100;


}



.titulo {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.contentData {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

input {
  font-family: "Roboto";
  width: 200px;
  border: none;
  border-radius: 12px;
  padding: 5px;
  color: rgb(155, 155, 155);
  background-color: rgb(61, 61, 61);
}

.icon {
  width: 40px;
}

.SegundoInput {
  padding-top: 50px;

}

.selecao {
  display: flex;
  overflow-x: scroll;
}

.cardContent {
  width: 360px;
  height: 130vh;
}



.botaoSelecionado {
  background-color: #007bff;
  color: #fff;
}

.horarioSelecionado {
  margin-top: 10px;
  font-weight: bold;
}

.Paymment {
  margin-top: 50px;
  color: red;
}

.firstStep{
 display: flex;
 gap: 10;
 margin-top: 20px;
}


.copyImage {
  width: 30px;
}

.secondStep{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10;
  margin-top: 20px;
 }


.whatsappImage{
  width: 30px;
  margin-left: 50%;
  margin-top: 10px;
}

.messege {
  margin-top: 9px;
  margin-left: 7px;
}

@media (max-width: 700px) {

  .cardForm {
    width: 360px;
    height: 760px;
  }

  .cardContent {
    width: 360px;
    height: 120vh;
  }

  .contentData {
    flex-direction: column;
  }

  .Paymment {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

   .Paymment p {
    text-align: center;
    color: red;
  }

  .whatsappImage{
    width: 30px;
    margin-left: 43%;
    margin-top: 15px;
  }
}