.page {
    background-color: rgb(255, 255, 255);
}

.content {
 background-color: rgb(255, 255, 255);
 height: 80vb;
 margin-left: 10px;
 margin-right: 10px;
 margin-top: 20px;
 margin-bottom: 40px;

}

.noServices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.notfound {
    width:  300px;
    height: 300px;
}


.messegeNotfound {
    font-family: "Roboto";
    font-size: 18px;
}


.list {
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(41, 41, 41);
    max-width: 800px;
}


.listNotFound{
    background-color: rgb(255, 255, 255);
    margin-top: 110px;
}