.item {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  width: 500px;
  height: auto;
  gap: 200px;
  margin-top: 20px;
  background-color: rgb(99, 99, 99);
  color: aliceblue;
  padding-bottom: 12px;
  margin-bottom: 14px;
  padding: 10px;
}

.texto {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

.data {
  margin-top: 10px;
  margin-bottom: 30px;
}


.contato {
  font-size: 18px;

}

.nome {
  font-size: 18px;
  margin-bottom: 15px;
}

.imagemCheck {
  width: 30px;
  height: 30px;
}

.icone {
  display: flex;
  margin-top: 90px;
}

.status {
  font-size: 15px;
  font-family: "Roboto";
  margin-top: 10px;
  margin-right: 4px;
}

@media (max-width: 700px) {
  .item {
    width: 330px;
    gap: 50px;
    padding-bottom: 12px;
    margin-bottom: 14px;
    padding: 14px;
    margin-top: 20px;
  }

  .data {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .texto {
    margin-top: 5px;
    gap: 10px;
  }

  .icone{
    margin-top: 105px;
  }

  .status{
    margin-top: 5px;
    margin-right: 3px;
  }

  .imagemCheck {
    width: 30px;
    height: 30px;
  }
}
