.item {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  width: 500px;
  height: 120px;
  gap: 200px;
  margin-top: 20px;
  background-color: rgb(99, 99, 99);
  color: aliceblue;
  padding-bottom: 12px;
  margin-bottom: 14px;
}

.texto {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.data {
  font-family: "Roboto";
  margin-top: 20px;
}

.dado {
  font-family: "Roboto";
}

.imagemCheck {
  width: 30px;
  height: 30px;
}

.icone {
  display: flex;
  margin-top: 90px;
}

.status {
  font-size: 15px;
  font-family: "Roboto";
  margin-top: 10px;
  margin-right: 4px;
}

@media (max-width: 700px) {
  .item {
    width: 340px;
    height: 110px;
    gap: 80px;
  }

  .data {
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .texto {
    margin-top: 5px;
    gap: 10px;
  }

  .icone{
    margin-top: 82px;
  }

  .status{
    margin-top: 5px;
    margin-right: 3px;
  }

  .imagemCheck {
    width: 30px;
    height: 30px;
  }
}
