.corpo{
    width: 100%;
    background-color: rgb(73, 73, 73);
}


.tabela{
    background-image: url('./img/ferramentas.jfif'); 
    background-size: cover; 
    background-position: center; 
    height: 300px; 
 
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.precos{
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: aliceblue;
 
}

.cardContent {
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
margin-left: 2px;
}

@media (max-width: 700px){
   
.tabela{
    height: 200px;
     width: auto;
}


.cardContente {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    margin-left: 2px;
}

.precos{
    font-size: 5px;
}


}