*{
    margin: 0;
    padding: 0;
    
  
  }
.header{
   background-color: rgb(12, 12, 14);
   height: 50px;
    justify-content: center;
    display: flex;
}

.lista{
    margin-top: 20px;
    list-style-type: none;
    color: rgb(0, 0, 0);
    display: flex;
    gap: 200px;
}

nav ul li a {
    text-decoration: none; 
    color: inherit; 
  }
